* {
	font-family: "Outfit", sans-serif;
}

.main {
	padding: 20px 0px;
	width: 95%;
	max-width: 1400px;
	margin: 0 auto;
}

.title {
	font-size: 2rem;
	color: #0a0a0a;
}

.loader-text {
	margin-top: 10px;
	font-size: 1rem;
}

table {
	height: 500px;
	width: 100%;
}

table,
th,
td {
	padding: 10px;
	border: 1px solid gray;
	border-collapse: collapse;
}

thead {
	position: sticky;
	top: 0;
}

th {
	background-color: #0a0a0a;
	color: white;
}

td {
	text-align: center;
}
